body {
    font-family: 'Roboto', sans-serif;
    background-color: azure;
  }
  
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px; 
  }
 #center  {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
 }